* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
*::before, *::after {
  box-sizing: inherit;
}
  
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  color: #fff;
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

header nav ul {
  background-color: rgb(0, 0, 0);
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style: none;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

li a {
  color: #fff;
  font-size: 1.9em;
  text-decoration: none;
  transition: 1.0s;
  font-family: 'Teko', sans-serif;
}

li a:hover {
  color: rgb(200, 255, 255);
}

li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
li a::after {
  position: absolute;
  bottom: 3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: rgb(200, 255, 255);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.4s;
}
li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}




#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Teko', sans-serif;
  position: relative;
}

#home h1 {
  font-size: 4em;
  position: absolute;
  z-index: 1;
  color: rgb(239, 250, 255);
  text-align: center;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}
#video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}


 


.title1 {
  margin-top: 50px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 2.4em;
}
.border {
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 10px 0 85px 0;
}

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.profile img {
  width: 400px;
  object-fit: cover;
}

.topic .profile {
  display: flex;
  align-items: center;
}

.name {
  text-align: center;
  margin-left: 60px;
}

.name h2 {
  font-size: 2.3em;
}



.title2 {
  margin-top: 100px;
  text-align: center;
  font-weight: normal;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 2.4em;
}

.works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works img {
  width: 500px;
  object-fit: cover;
  margin-bottom: 120px;
}

.text {
  text-align: center;
  margin-left: 60px;
  width: 500px;
  margin-bottom: 120px;
}

.text h2 {
  font-size: 2.6em;
  border-bottom: solid 1px #fff;
}



.works1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works1 img {
  width: 400px;
  object-fit: cover;
  margin-bottom: 120px;
}

.text1 {
  text-align: center;
  margin-right: 60px;
  width: 500px;
  margin-bottom: 120px;
}

.text1 h2 {
  font-size: 2.6em;
  border-bottom: solid 1px #fff;
}


.contact {
  text-align: center;
}

.contact img {
  width: 200px;
  margin-bottom: 4em;
}

.text3 p {
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.contact .btnlinestretches {
  position: relative;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.contact .btnlinestretches:hover {
  background: rgb(7, 10, 10);
  color: rgb(200, 255, 255);
  border-color: transparent;
}
.contact .btnlinestretches::before,
.contact .btnlinestretches::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  border: solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}
.contact .btnlinestretches::before {
  top: -6px;
  left: -6px;
  border-width: 1px 0 0 1px;
}
.contact .btnlinestretches::after {
  bottom: -6px;
  right: -6px;
  border-width: 0 1px 1px 0;
}
.contact .btnlinestretches:hover::before,
.contact .btnlinestretches:hover::after {
  width: calc(100% + 11px);
  height: calc(100% + 11px);
  border-color: rgb(255, 255, 255);
}


.contact-btn {
  margin-bottom: 170px;
}


.footer {
  background-color: #333;
  width: 100%;
  padding: 60px 0;
  position: absolute;
  left: 0;
}

.footer--ul {
  text-align: center;
}

.footer--ul a {
  font-size: 1.6em;
  margin-bottom: 0.7em;
}


.title1, .title2 {
  display: block;
  padding-top: 75px;
  margin-top: -70px;
}

.copyright {
  text-align: center;
}

.copyright small {
  position: absolute;
  bottom: 0;
  margin-left: -133px;
  margin-bottom: 10px;
}